.container {
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;
}

.image-wrapper {
    line-height: 0;
}

@for $i from 0 to 30 {
    .container .image-wrapper:nth-child(#{$i + 1}) {
        $min: 100;
        $max: 140;
        background: rgb($min + random($max), $min + random($max), $min + random($max));
    }
}

img {
    opacity: 0.5;
}

.hidden {
    display: none;
}
